.App {
  text-align: center;
}
ul {
  list-style: none;
}

.header-ul {
  background: #e3d5d5;
  padding: 20px;
  border: 1px dotted;
}
.header-li {
  display: inline-block;
  padding: 5px 10px;
}
.review-wrap {
  padding: 5px;
  background: #ddd;
  margin: 10px auto;
  width: 300px;
}
.review-item {
  display: inline-block;
  padding: 5px;
}
.cafe-name {
  font-size: 18px;
  font-weight: bold;
}
